{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://datapipeline.amazonaws.com/"
        },
        {
            "url": "http://datapipeline.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>AWS Data Pipeline configures and manages a data-driven workflow called a pipeline. AWS Data Pipeline handles the details of scheduling and ensuring that data dependencies are met so that your application can focus on processing the data.</p> <p>AWS Data Pipeline provides a JAR implementation of a task runner called AWS Data Pipeline Task Runner. AWS Data Pipeline Task Runner provides logic for common data management scenarios, such as performing database queries and running data analysis using Amazon Elastic MapReduce (Amazon EMR). You can use AWS Data Pipeline Task Runner as your task runner, or you can write your own task runner to provide custom data management.</p> <p>AWS Data Pipeline implements two main sets of functionality. Use the first set to create a pipeline and define data sources, schedules, dependencies, and the transforms to be performed on the data. Use the second set in your task runner application to receive the next task ready for processing. The logic for performing the task, such as querying the data, running data analysis, or converting the data from one format to another, is contained within the task runner. The task runner performs the task assigned to it by the web service, reporting progress to the web service as it does so. When the task is done, the task runner reports the final success or failure of the task to the web service.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Data Pipeline",
        "version": "2012-10-29",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/datapipeline-2012-10-29.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "datapipeline"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/datapipeline/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Validates the specified pipeline and starts processing pipeline tasks. If the pipeline does not pass validation, activation fails.</p> <p>If you need to pause the pipeline to investigate an issue with a component, such as a data source or script, call <a>DeactivatePipeline</a>.</p> <p>To activate a finished pipeline, modify the end date for the pipeline and then activate it.</p>",
                "operationId": "ActivatePipeline",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of ActivatePipeline.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "PipelineNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline was not found. Verify that you used the correct user and account identifiers.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "PipelineDeletedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline has been deleted.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServiceError",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal service error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidRequestException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the parameters for ActivatePipeline.",
                                "properties": {
                                    "parameterValues": {
                                        "description": "A list of parameter values to pass to the pipeline at activation.",
                                        "items": {
                                            "description": "A value or list of parameter values. ",
                                            "properties": {
                                                "id": {
                                                    "description": "The ID of the parameter value.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "type": "string",
                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                },
                                                "stringValue": {
                                                    "description": "The field value, expressed as a String.",
                                                    "maxLength": 10240,
                                                    "minLength": 0,
                                                    "type": "string",
                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "stringValue"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "pipelineId": {
                                        "description": "The ID of the pipeline.",
                                        "maxLength": 1024,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    },
                                    "startTimestamp": {
                                        "description": "The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.",
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "pipelineId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddTags": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds or modifies tags for the specified pipeline.",
                "operationId": "AddTags",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of AddTags.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServiceError",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal service error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "PipelineNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline was not found. Verify that you used the correct user and account identifiers.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "PipelineDeletedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline has been deleted.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the parameters for AddTags.",
                                "properties": {
                                    "pipelineId": {
                                        "description": "The ID of the pipeline.",
                                        "maxLength": 1024,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    },
                                    "tags": {
                                        "description": "The tags to add, as key/value pairs.",
                                        "items": {
                                            "description": "Tags are key/value pairs defined by a user and associated with a pipeline to control access. AWS Data Pipeline allows you to associate ten tags per pipeline. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.",
                                            "properties": {
                                                "key": {
                                                    "description": "The key name of a tag defined by a user. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "The optional value portion of a tag defined by a user. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "key",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "minItems": 0,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "pipelineId",
                                    "tags"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreatePipeline": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new, empty pipeline. Use <a>PutPipelineDefinition</a> to populate the pipeline.",
                "operationId": "CreatePipeline",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of CreatePipeline.",
                                    "properties": {
                                        "pipelineId": {
                                            "description": "The ID that AWS Data Pipeline assigns the newly created pipeline. For example, <code>df-06372391ZG65EXAMPLE</code>.",
                                            "maxLength": 1024,
                                            "minLength": 1,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                        }
                                    },
                                    "required": [
                                        "pipelineId"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServiceError",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal service error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the parameters for CreatePipeline.",
                                "properties": {
                                    "description": {
                                        "description": "The description for the pipeline.",
                                        "maxLength": 1024,
                                        "minLength": 0,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    },
                                    "name": {
                                        "description": "The name for the pipeline. You can use the same name for multiple pipelines associated with your AWS account, because AWS Data Pipeline assigns each pipeline a unique pipeline identifier.",
                                        "maxLength": 1024,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    },
                                    "tags": {
                                        "description": "A list of tags to associate with the pipeline at creation. Tags let you control access to pipelines. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.",
                                        "items": {
                                            "description": "Tags are key/value pairs defined by a user and associated with a pipeline to control access. AWS Data Pipeline allows you to associate ten tags per pipeline. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.",
                                            "properties": {
                                                "key": {
                                                    "description": "The key name of a tag defined by a user. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "The optional value portion of a tag defined by a user. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "key",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "minItems": 0,
                                        "type": "array"
                                    },
                                    "uniqueId": {
                                        "description": "A unique identifier. This identifier is not the same as the pipeline identifier assigned by AWS Data Pipeline. You are responsible for defining the format and ensuring the uniqueness of this identifier. You use this parameter to ensure idempotency during repeated calls to <code>CreatePipeline</code>. For example, if the first call to <code>CreatePipeline</code> does not succeed, you can pass in the same unique identifier and pipeline name combination on a subsequent call to <code>CreatePipeline</code>. <code>CreatePipeline</code> ensures that if a pipeline already exists with the same name and unique identifier, a new pipeline is not created. Instead, you'll receive the pipeline identifier from the previous attempt. The uniqueness of the name and unique identifier combination is scoped to the AWS account or IAM user credentials.",
                                        "maxLength": 1024,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    }
                                },
                                "required": [
                                    "name",
                                    "uniqueId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeactivatePipeline": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deactivates the specified running pipeline. The pipeline is set to the <code>DEACTIVATING</code> state until the deactivation process completes.</p> <p>To resume a deactivated pipeline, use <a>ActivatePipeline</a>. By default, the pipeline resumes from the last completed execution. Optionally, you can specify the date and time to resume the pipeline.</p>",
                "operationId": "DeactivatePipeline",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of DeactivatePipeline.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "PipelineNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline was not found. Verify that you used the correct user and account identifiers.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "PipelineDeletedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline has been deleted.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServiceError",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal service error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidRequestException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the parameters for DeactivatePipeline.",
                                "properties": {
                                    "cancelActive": {
                                        "description": "Indicates whether to cancel any running objects. The default is true, which sets the state of any running objects to <code>CANCELED</code>. If this value is false, the pipeline is deactivated after all running objects finish.",
                                        "type": "boolean"
                                    },
                                    "pipelineId": {
                                        "description": "The ID of the pipeline.",
                                        "maxLength": 1024,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    }
                                },
                                "required": [
                                    "pipelineId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeletePipeline": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes a pipeline, its pipeline definition, and its run history. AWS Data Pipeline attempts to cancel instances associated with the pipeline that are currently being processed by task runners.</p> <p>Deleting a pipeline cannot be undone. You cannot query or restore a deleted pipeline. To temporarily pause a pipeline instead of deleting it, call <a>SetStatus</a> with the status set to <code>PAUSE</code> on individual components. Components that are paused by <a>SetStatus</a> can be resumed.</p>",
                "operationId": "DeletePipeline",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "PipelineNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline was not found. Verify that you used the correct user and account identifiers.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceError",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal service error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the parameters for DeletePipeline.",
                                "properties": {
                                    "pipelineId": {
                                        "description": "The ID of the pipeline.",
                                        "maxLength": 1024,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    }
                                },
                                "required": [
                                    "pipelineId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeObjects": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Gets the object definitions for a set of objects associated with the pipeline. Object definitions are composed of a set of fields that define the properties of the object.",
                "operationId": "DescribeObjects",
                "parameters": [
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "marker",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of DescribeObjects.",
                                    "properties": {
                                        "hasMoreResults": {
                                            "description": "Indicates whether there are more results to return.",
                                            "type": "boolean"
                                        },
                                        "marker": {
                                            "description": "The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.",
                                            "maxLength": 1024,
                                            "minLength": 0,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                        },
                                        "pipelineObjects": {
                                            "description": "An array of object definitions.",
                                            "items": {
                                                "description": "Contains information about a pipeline object. This can be a logical, physical, or physical attempt pipeline object. The complete set of components of a pipeline defines the pipeline.",
                                                "properties": {
                                                    "fields": {
                                                        "description": "Key-value pairs that define the properties of the object.",
                                                        "items": {
                                                            "description": "A key-value pair that describes a property of a pipeline object. The value is specified as either a string value (<code>StringValue</code>) or a reference to another object (<code>RefValue</code>) but not as both.",
                                                            "properties": {
                                                                "key": {
                                                                    "description": "The field identifier.",
                                                                    "maxLength": 256,
                                                                    "minLength": 1,
                                                                    "type": "string",
                                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                },
                                                                "refValue": {
                                                                    "description": "The field value, expressed as the identifier of another object.",
                                                                    "maxLength": 256,
                                                                    "minLength": 1,
                                                                    "type": "string",
                                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                },
                                                                "stringValue": {
                                                                    "description": "The field value, expressed as a String.",
                                                                    "maxLength": 10240,
                                                                    "minLength": 0,
                                                                    "type": "string",
                                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                }
                                                            },
                                                            "required": [
                                                                "key"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "id": {
                                                        "description": "The ID of the object.",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "name": {
                                                        "description": "The name of the object.",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "name",
                                                    "fields"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "pipelineObjects"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServiceError",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal service error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "PipelineNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline was not found. Verify that you used the correct user and account identifiers.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "PipelineDeletedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline has been deleted.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the parameters for DescribeObjects.",
                                "properties": {
                                    "evaluateExpressions": {
                                        "description": "Indicates whether any expressions in the object should be evaluated when the object descriptions are returned.",
                                        "type": "boolean"
                                    },
                                    "marker": {
                                        "description": "The starting point for the results to be returned. For the first call, this value should be empty. As long as there are more results, continue to call <code>DescribeObjects</code> with the marker value from the previous call to retrieve the next set of results.",
                                        "maxLength": 1024,
                                        "minLength": 0,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    },
                                    "objectIds": {
                                        "description": "The IDs of the pipeline objects that contain the definitions to be described. You can pass as many as 25 identifiers in a single call to <code>DescribeObjects</code>.",
                                        "items": {
                                            "maxLength": 1024,
                                            "minLength": 1,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                        },
                                        "type": "array"
                                    },
                                    "pipelineId": {
                                        "description": "The ID of the pipeline that contains the object definitions.",
                                        "maxLength": 1024,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    }
                                },
                                "required": [
                                    "pipelineId",
                                    "objectIds"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribePipelines": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Retrieves metadata about one or more pipelines. The information retrieved includes the name of the pipeline, the pipeline identifier, its current state, and the user account that owns the pipeline. Using account credentials, you can retrieve metadata about pipelines that you or your IAM users have created. If you are using an IAM user account, you can retrieve metadata about only those pipelines for which you have read permissions.</p> <p>To retrieve the full pipeline definition instead of metadata about the pipeline, call <a>GetPipelineDefinition</a>.</p>",
                "operationId": "DescribePipelines",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of DescribePipelines.",
                                    "properties": {
                                        "pipelineDescriptionList": {
                                            "description": "An array of descriptions for the specified pipelines.",
                                            "items": {
                                                "description": "Contains pipeline metadata.",
                                                "properties": {
                                                    "description": {
                                                        "description": "Description of the pipeline.",
                                                        "maxLength": 1024,
                                                        "minLength": 0,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "fields": {
                                                        "description": "A list of read-only fields that contain metadata about the pipeline: @userId, @accountId, and @pipelineState.",
                                                        "items": {
                                                            "description": "A key-value pair that describes a property of a pipeline object. The value is specified as either a string value (<code>StringValue</code>) or a reference to another object (<code>RefValue</code>) but not as both.",
                                                            "properties": {
                                                                "key": {
                                                                    "description": "The field identifier.",
                                                                    "maxLength": 256,
                                                                    "minLength": 1,
                                                                    "type": "string",
                                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                },
                                                                "refValue": {
                                                                    "description": "The field value, expressed as the identifier of another object.",
                                                                    "maxLength": 256,
                                                                    "minLength": 1,
                                                                    "type": "string",
                                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                },
                                                                "stringValue": {
                                                                    "description": "The field value, expressed as a String.",
                                                                    "maxLength": 10240,
                                                                    "minLength": 0,
                                                                    "type": "string",
                                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                }
                                                            },
                                                            "required": [
                                                                "key"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "name": {
                                                        "description": "The name of the pipeline.",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "pipelineId": {
                                                        "description": "The pipeline identifier that was assigned by AWS Data Pipeline. This is a string of the form <code>df-297EG78HU43EEXAMPLE</code>.",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "tags": {
                                                        "description": "A list of tags to associated with a pipeline. Tags let you control access to pipelines. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.",
                                                        "items": {
                                                            "description": "Tags are key/value pairs defined by a user and associated with a pipeline to control access. AWS Data Pipeline allows you to associate ten tags per pipeline. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.",
                                                            "properties": {
                                                                "key": {
                                                                    "description": "The key name of a tag defined by a user. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.",
                                                                    "maxLength": 128,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The optional value portion of a tag defined by a user. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.",
                                                                    "maxLength": 256,
                                                                    "minLength": 0,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "key",
                                                                "value"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 10,
                                                        "minItems": 0,
                                                        "type": "array"
                                                    }
                                                },
                                                "required": [
                                                    "pipelineId",
                                                    "name",
                                                    "fields"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "pipelineDescriptionList"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "PipelineNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline was not found. Verify that you used the correct user and account identifiers.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "PipelineDeletedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline has been deleted.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServiceError",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal service error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidRequestException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the parameters for DescribePipelines.",
                                "properties": {
                                    "pipelineIds": {
                                        "description": "The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.",
                                        "items": {
                                            "maxLength": 1024,
                                            "minLength": 1,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "pipelineIds"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#EvaluateExpression": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Task runners call <code>EvaluateExpression</code> to evaluate a string in the context of the specified object. For example, a task runner can evaluate SQL queries stored in Amazon S3.",
                "operationId": "EvaluateExpression",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains the output of EvaluateExpression.",
                                    "properties": {
                                        "evaluatedExpression": {
                                            "description": "The evaluated expression.",
                                            "maxLength": 20971520,
                                            "minLength": 0,
                                            "type": "string",
                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                        }
                                    },
                                    "required": [
                                        "evaluatedExpression"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalServiceError",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An internal service error occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "TaskNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified task was not found. ",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "PipelineNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline was not found. Verify that you used the correct user and account identifiers.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "PipelineDeletedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified pipeline has been deleted.",
                                    "properties": {
                                        "message": {
                                            "description": "Description of the error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Contains the parameters for EvaluateExpression.",
                                "properties": {
                                    "expression": {
                                        "description": "The expression to evaluate.",
                                        "maxLength": 20971520,
                                        "minLength": 0,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    },
                                    "objectId": {
                                        "description": "The ID of the object.",
                                        "maxLength": 1024,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    },
                                    "pipelineId": {
                                        "description": "The ID of the pipeline.",
                                        "maxLength": 1024,
                                        "minLength": 1,
                                        "type": "string",
                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                    }
                                },
                                "required": [
                                    "pipelineId",
                                    "objectId",
                                    "expression"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetPipelineDefinition": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
[...]
